__pycache__/
app.log/
*.py[cod]
# Ignore database files
*.sqlite
*.sqlite3
*.db
*.db-journal
# Ignore logs  
app.log  
logs/  

# Ignore virtual environments  
venv/  
.venv/  

# Ignore tests
tests/test_server.py
